<div class="card-header" >
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" routerLinkActive="active" >

        <button pButton pRipple type="button" name="crear" [routerLink]="['/homepage/formproyecto']" icon="pi pi-file" class="p-button-rounded p-button-info p-button-text">Nuevo Proyecto</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button pButton pRipple type="button" name="importar" [routerLink]="['/homepage/file-upload']" icon="pi pi-file-import" class="p-button-rounded p-button-warning p-button-text">Importar Proyecto</button>
      </li>
    </ul>
  </div>
